*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.menu{
    background-color: rgb(255, 179, 0);
    text-align: center;
    color: white;
    padding: 6px;
    font-size:23px;
    width:15%
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.title{
    text-align: center;
    font-size: 42px;
    letter-spacing: 2.5px;
    background-color:rgba(0, 132, 255, 0.733);
}
.definition{
    padding:20px 150px;
    color: black;
    text-align: justify;
    font-size: 20px;
}
.video_sports{
    text-align: center;
}
.video_sports video{
    width: 1300px;
    height: 730px;
}
ul.list{
    list-style: none;
    padding: 5px;
    text-align: center;
}
li{
    padding: 3px;
    font-size: 22px;
}

.subtitle{
    /*border-top: 3px blue dashed;
    border-left: 3px red dotted;
    border-right:3px orange groove;
    border-bottom: 3px purple ridge;*/
    /* outline-width: 200px; */
    border: 3px rgb(0, 132, 255);
    border-radius: 10px;
    border-style: dotted dashed solid double;
    font-size: 30px;
    color: rgb(0, 132, 255);
    text-align: center;
    margin:50px 850px 5px;
}

.dh .dh_img{
    margin: 50px 540px 50px;
    width: 800px;
}
.dh .definition_dh{
    border: 3px rgb(0, 132, 255);
    border-radius: 10px;
    border-style: dotted dashed solid double;
    font-size: 30px;
    color: rgb(0, 132, 255);
    text-align: center;
    margin:50px 700px 5px;
}
.dh h2{
    letter-spacing: 5px;
    font-size: 30px;
    color: rgb(0, 132, 255);
    margin-left: 300px;
}
.dh p{
    color: black;
    padding: 20px 300px;
    text-align: justify;
    font-size: 20px;
}
.topics{
    border-collapse: collapse;
    color: black;
    font-size: 24px;
    border: 1px solid black;
}
.topics{
    margin: 20px 600px;
}
.topics th,td{
    padding: 15px;
    border: 1px black solid;
}
